<!DOCTYPE html>
<html>
<style>
.col {
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
body {
  margin: 0;
  font-family: Arial;
}
.topnav {
  overflow: hidden;
  background-color: rgb(146, 23, 23);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
</style>
<div class="topnav">
    <a class="active" href="#home">Boom Boom Sauce</a>
  </div>
<div style="text-align: center">
    <div class="row">
        <div class = "col">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class = "col"><input type="password" name="password" placeholder="Password" required></div>
        
        <div class="col"><input type="submit" value="Login"></div>

        <div>Don't have an account yet? <a> Sign up</a></div>
        </div>
    </div>
</html>